<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>357042904950-lkrttqaj81qlm4vfqbh9ck44b5ei3jb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357042904950-lkrttqaj81qlm4vfqbh9ck44b5ei3jb8</string>
	<key>API_KEY</key>
	<string>AIzaSyC6btbPWakEPwUFa5lHLUWQG17wuCWS15c</string>
	<key>GCM_SENDER_ID</key>
	<string>357042904950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DeakinSIT206.SIT206-Project2</string>
	<key>PROJECT_ID</key>
	<string>sit206-project2</string>
	<key>STORAGE_BUCKET</key>
	<string>sit206-project2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357042904950:ios:90b64f17fc40075a</string>
	<key>DATABASE_URL</key>
	<string>https://sit206-project2.firebaseio.com</string>
</dict>
</plist>